section#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

section#about-me div.about-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
  margin-bottom: 2rem;
}

section#about-me div.about-text p {
  text-wrap: pretty;
  text-indent: 2em;
  line-height: 1.6em;
  width: 100%;
}
