.project-page {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  margin-top: 2rem;
}

.mobile-select {
  display: none;
}

p.project-sum {
  margin-top: 1rem;
  width: 80%;
  line-height: 2rem;
}

aside.projects-subheader {
  width: fit-content;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;

  font-size: 1rem;
  color: var(--dark-slate-gray);
}
aside.projects-subheader div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  transition: all 0.2s ease;
}

aside.projects-subheader div:hover {
  border-right: 1px solid var(--dark-slate-gray);
  padding-right: 6px;
}
aside.projects-subheader div p:first-child {
  color: var(--wheat);
  margin-bottom: 6px;
}
aside.projects-subheader div a:hover {
  color: #da773e;
}
aside.projects-subheader div a.active {
  color: var(--burnt-orange);
  font-weight: bold;
}

@media (max-width: 768px) {
  .project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  aside.projects-subheader {
    display: none;
  }
  .mobile-select {
    display: block;
    font-size: 1.5rem;
    padding: 4px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
  }
}
