.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-block: 2rem 4rem;
}

img.project-image {
  max-width: 100%;
  object-fit: cover;
}

.project-details-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.project-details-header h2 {
  color: var(--burnt-orange);
}

p.project-link {
  font-style: italic;
}
p.project-link a {
  margin-left: 10px;
  color: var(--midnight-violet);
  font-weight: 600;
  text-decoration: underline;
}

.project-points {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 3rem;
}

.project-points h4 {
  font-size: 1.5em;
  text-align: center;
}

.project-points ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

a.back-to-top {
  font-weight: 800;
  text-decoration: underline;
  color: var(--burnt-orange);
}
