---
import RootLayout from "@/layout/RootLayout.astro";
---

<RootLayout title="Contact Me">
    <section id="contact">
        <h2>Lets so something!</h2>
        <p>Email me at <span>thecameronlopez@gmail.com</span></p>
        <p>Call me at <span>(337)263-0646</span></p>
        
    </section>
</RootLayout>