---
import "@/styles/home.css"
import RootLayout from "@/layout/RootLayout.astro"
import HeroSlider from "@/components/HeroSlider"
---

<RootLayout title="Cameron Lopez">
	<section id="hero">
        <h2><span>Digital Tools.</span><span>Real Impact.</span></h2>
        <HeroSlider client:load />
        <p class="grabber">Helping churches, creators, and teams build custom tools that actually work.</p>
        <div class="home-social-bar">
            <a href="https://github.com/thecameronlopez" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.facebook.com/cameron.lopez.191915" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/cameronlopez85/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://linkedin.com/in/thecameronlopez" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </div>
    </section>
</RootLayout>
