---
import ProjectLayout from "./ProjectLayout.astro"
---

<ProjectLayout title="Air Elise, LLC" currentProject="/projects/airelisellc">
    <h2>Air Elise, LLC</h2>
    <p>description...</p>
</ProjectLayout>