---
import "@/styles/project-details.css"
import ProjectLayout from "./ProjectLayout.astro"
---

<ProjectLayout title="Cerberus" currentProject="/projects/cerberus">
    <div class="project-details">
        <div class="project-details-header">
            <h2>Cerberus</h2>
            <p>Project details coming soon...</p>
        </div>
    </div>
</ProjectLayout>