---
import "@/styles/project-details.css"
import ProjectLayout from "./ProjectLayout.astro";
---

<ProjectLayout title="EZ Restoration" currentProject="/projects/ezrestoration">
    <div class="project-details">
        <div class="project-details-header">
            <h2>EZ Restoration</h2>
            <p>Project details coming soon...</p>
        </div>
    </div>
</ProjectLayout>