---
import ProjectLayout from "./ProjectLayout.astro";
---

<ProjectLayout title="EZ Restoration" currentProject="/projects/ezrestoration">
    <h2>EZ Restoration</h2>
    <p>details...</p>
</ProjectLayout>