---
import ProjectLayout from "./ProjectLayout.astro"
---

<ProjectLayout title="Projects" currentProject="">
    <p class="project-sum half-box-bl">I've developed multiple applications and static sites over the years. From simple, single page layouts, to complex full-stack workflow management systems. Take a look!</p>
</ProjectLayout>

