---
import ProjectLayout from "@/layout/ProjectLayout.astro"
import { getEntry } from "astro:content";

const pageConfigEntry = await getEntry("projectPages", "projects");
const intro = pageConfigEntry?.data.intro ??
    "I've developed multiple applications and static sites over the years. From simple, single page layouts, to complex full-stack workflow management systems. Take a look!";
---

<ProjectLayout title="Projects">
    <p class="project-sum half-box-bl">{intro}</p>
</ProjectLayout>

