---
import ProjectLayout from "./ProjectLayout.astro";
---

<ProjectLayout title="Matt's Appliances" currentProject="/projects/mattsappliances">
    <h2>Matt's Appliances</h2>
    <p>details...</p>
</ProjectLayout>