---
import ProjectLayout from "./ProjectLayout.astro"
---

<ProjectLayout title="Team Portal" currentProject="/projects/team-portal">
    <h2>Matt's Team Portal</h2>
    <p>description...</p>
</ProjectLayout>